		<!-- </div> -->
		<script src="/js/jquery.v3.2.1.min.js"></script>
		<script src="/js/bootstrap.v3.3.7.min.js"></script>
		<script src="/js/main.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1tfXg009CO_oaKRZzJlSOyBj9AQEzcp8&callback=initMap"></script>
	</body>

</html>
