		<!-- </div> -->
		<footer id='pagefooter'>
			<br><p>Copyright&copy; 2017 AussieCamp Australia</p>
		</footer>

		<script src="/js/jquery.v3.2.1.min.js"></script>
		<script src="/js/bootstrap.v3.3.7.min.js"></script>
		<script src="/js/main.js"></script>
	</body>

</html>
