		<section class='pagefooter navbar navbar-default navbar-fixed-bottom'>
			<p>Copyright&copy; 2017 AussieCamp! Australia</p>
		</section>
		<!-- LOGIN Modal -->
		<div class="modal fade" id="loginModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<form action="/login" method="POST">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
							<h2 style="text-align: center;">Login!</h2>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="username">Username</label>
								<input id="username" name="username" class="form-control" type="text" placeholder="username">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input id="password" name="password" class="form-control" type="password" placeholder="password">
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<button class="btn btn-lg btn-primary btn-block">Login!</button>
								<a class="btn btn-lg btn-info btn-block" data-dismiss="modal" href="#" data-toggle="modal" data-target="#forgotModal">Forgot Password!</a>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
		<!-- REGISTER Modal -->
		<div class="modal fade" id="registerModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<form action="/register" method="POST">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
							<h2 style="text-align: center;">Sign Up!</h2>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="username">Username</label>
								<input id="username" name="username" class="form-control" type="text" placeholder="username" required>
							</div>
							<div class="form-group">
								<label for="firstName">First name</label>
								<input id="firstName" name="firstName" class="form-control" type="text" placeholder="First name">
							</div>
							<div class="form-group">
								<label for="lastName">Last name</label>
								<input id="lastName" name="lastName" class="form-control" type="text" placeholder="Last name">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input id="email" name="email" class="form-control" type="email" placeholder="yourname@gmail.com" required>
							</div>
							<div class="form-group">
								<label for="avatar">Avatar</label>
								<input id="avatar" name="avatar" class="form-control" type="text" placeholder="Avatar URL">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input id="password" name="password" class="form-control" type="password" placeholder="password" required>
							</div>
							<div class="form-group">
								<label for="adminCode">Admin Code</label>
								<input id="adminCode" name="adminCode" class="form-control" type="text" placeholder="Admin code">
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- Forgot Password Modal -->
		<div class="modal fade" id="forgotModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<form action="/forgot" method="POST">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
							<h2 style="text-align: center;">Forgotten Password...!</h2>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" name="email" class="form-control autofocus">
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-block" value="Send Reset Email...!">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="/js/jquery.v3.2.1.min.js"></script>
		<script src="/js/bootstrap.v3.3.7.min.js"></script>
		<script src="/js/main.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxgiTh-XAU_2aBLozOdJl9SA3mABNJQQc&callback=initMap"></script>
	</body>

</html>
