<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>AussieCamp!</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
	<link rel="stylesheet" href="/css/bootstrap.v3.3.7.min.css">
	<link rel="stylesheet" href="/css/font-awesome.v4.7.0.min.css">
	<link rel="shortcut icon" href="/images/tent.png">
	<link rel="stylesheet" href="/css/main.css">
