<!DOCTYPE html>
<html>

<head>
	<title>AussieCamp!</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
	<link rel="stylesheet" href="/css/bootstrap.v3.3.7.min.css">
	<link rel="stylesheet" href="/css/font-awesome.v4.7.0.min.css">
	<link rel="stylesheet" href="/css/landing.css">
	<link rel="shortcut icon" href="/images/tent.png">
	<!-- <link rel="font" href="/fonts/KaushanScript-Regular.ttf"> -->

	<script src="/js/modernizr.v2.8.3.js" async></script>
</head>

<body>
	<div id="landing-header">
		<img src="/images/tent.png">
		<h1>Welcome to AussieCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View The Campsites!&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
	</div>
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</body>

</html>
