<% include partials/header %>
<div class="container hd-padding">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<% if(error && error.length > 0) { %>
				<div class='alert alert-danger' role='alert'>
					<%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class='alert alert-success' role='alert'>
					<%= success %>
				</div>
			<% } %>
			<form action="/reset/<%= token %>" method="POST">
				<legend>Reset Password</legend>
				<div class="form-group">
					<label for="password">New Password</label>
					<input type="password" name="password" class="form-control autofocus" placeholder="New password">
				</div>
				<div class="form-group">
					<label for="confirm">Confirm Password</label>
					<input type="password" name="confirm" value="" class="form-control" placeholder="Confirm password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Update Password</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<% include partials/footer %>
