/***********************/
/**** GLOBAL LAYOUT ****/
/***********************/
/***** page layout *****/
body {
	margin: 0 auto;
	padding-top: 50px;
	background-image: url('../images/bg.jpg');
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.container {
	width: 80%;
}
textarea {
	resize: none;
}
.pagefooter {
	margin: 0;
	padding-top: 10px;
	text-align: center;
}
/***** element styling *****/
.gold {
	color: rgb(255, 215, 0);
	text-shadow: 1px 2px 3px rgb(30, 90, 30),
	1px 2px 12px rgba(30, 90, 30, 0.5);
	font-weight: 700;
}
.green {
	color: rgb(50, 150, 50);
	text-shadow: 1px 2px 3px rgb(255, 215, 0),
	1px 2px 12px rgba(255, 215, 0, 0.5);
	font-weight: 700;
}
.script {
	font-family: 'Kaushan Script', cursive;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
.alert {
	text-align: center;
}
.btn-success {
	box-shadow: 2px 8px 12px rgba(20, 100, 20, 0.3);
	font-weight: bold;
}
/***** navbar *****/
.navbar {
	margin: 0;
}
.navbar i {
	font-size: 1.4em;
}
.navbar img {
	margin: 0;
	padding: 0;
	height: 27px;
}
/* Google Maps */
#map {
	width: 100%;
	height: 460px;
	border: 1px solid #C9C9C9;
	border-radius: 10px;
	margin-bottom: 20px;
}
/* User */
.user {
	padding-top: 30px;
	text-align: center;
}

/******************/
/***** MODALS *****/
/******************/
.close {
	color: red;
	font-size: 3em;
}
.close:hover {
	color: red;
}

/***************************/
/**** CAMPGROUNDS Index ****/
/***************************/
/***** header *****/
#headerParralax {
	position: relative;
	display: table;
	min-height: 350px;
	width: 100%;
	background: url('../images/camping.equipment.faded.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}
#headerParralax article {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
#headerParralax img {
	padding-top: 50px;
	-webkit-filter:	drop-shadow(2px 8px 12px rgb(201, 217, 72));
	filter: drop-shadow(2px 8px 12px rgba(183, 186, 39, 0.8));
}
#headerParralax h1 {
	font-size: 5em;
}
#headerParralax h1,
#headerParralax h2,
#headerParralax h3 {
	margin: 0;
	padding: 0;
}
/***** campgrounds list *****/
#featured {
	padding: 10px 0;
}
#featured .flex {
	display: flex;
	flex-wrap: wrap;
}
#featured .thumbnail {
	padding: 0;
	margin: 10px 0;
	border: none;
}
#featured .thumbnail .image {
	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0 0;
	background-position: bottom center;
	background-size: cover;
}
#featured h3 {
	padding: 20px 20px 0 0;
}
#featured h4 {
	padding-right: 20px;
}
#featured h3, #featured h4 {
	margin: 0;
	text-align: right;
}
#featured .caption {
	text-align: left;
}
/***** footer parralax *****/
#footerParralax {
	position: relative;
	display: table;
	padding-top: 20px;
	width: 100%;
	background: url('../images/camping.equipment.faded.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
#footerParralax h2 {
	text-align: center;
}
