<<<<<<< HEAD
/***********************/
/**** GLOBAL LAYOUT ****/
/***********************/
/***** page layout *****/
body {
	margin: 0 auto;
=======
/*page layout*/
body {
	margin: 30px auto 0 auto;
	padding: 0;
	font-family: Roboto;
	background: url('../images/bg.jpg') repeat fixed;
}
.hd-padding {
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
	padding-top: 50px;
	background: url('../images/bg.jpg') repeat fixed;
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
.container {
	width: 80%;
}
textarea {
	resize: none;
}
#pagefooter {
	padding-top: 10px;
	text-align: center;
}
/***** page styling *****/
.gold {
	color: rgb(255, 215, 0);
	text-shadow: 1px 2px 3px rgb(30, 90, 30),
	1px 2px 12px rgba(30, 90, 30, 0.5);
	/*0px 0px 24px rgba(30, 90, 30, 0.3);*/
	font-weight: 700;
}
.green {
	color: rgb(50, 150, 50);
	text-shadow: 1px 2px 3px rgb(255, 215, 0),
	1px 2px 12px rgba(255, 215, 0, 0.5);
	/*0px 0px 24px rgba(255, 215, 0, 0.3);*/
	font-weight: 700;
}
.script {
	font-family: 'Kaushan Script', cursive;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
.alert {
	/*margin: 20px auto 0 auto;*/
	text-align: center;
}
.btn-success {
	box-shadow: 2px 8px 12px rgba(20, 100, 20, 0.3);
	font-weight: bold;
}
/***** navbar *****/
.navbar {
	margin: 0;
}
.navbar i {
	font-size: 1.4em;
}
.navbar img {
	margin: 0;
	padding: 0;
	height: 27px;
}
<<<<<<< HEAD
/***************************/
/**** CAMPGROUNDS Index ****/
/***************************/
/***** header *****/
#headerParralax {
=======

/*campgrounds index*/
/*header parralax*/
.headerParralax {
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
	position: relative;
	display: table;
	min-height: 350px;
	width: 100%;
	background: url('../images/camping.equipment.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}
.headerParralax article {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
<<<<<<< HEAD
#headerParralax img {
=======
.headerParralax article img {
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
	padding-top: 50px;
	-webkit-filter:	drop-shadow(2px 8px 12px rgb(201, 217, 72));
	filter: drop-shadow(2px 8px 12px rgba(183, 186, 39, 0.8));
}
<<<<<<< HEAD
#headerParralax h1 {
	padding-bottom: 20px;
=======
h1 {
	font-weight: 700;
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
	font-size: 5em;
}
<<<<<<< HEAD
/***** campgrounds list *****/
=======
h3 {
	color: gold;
	text-shadow: 1px 4px 3px rgb(50, 150, 50),
	2px 8px 12px rgba(20, 100, 20, 0.8),
	4px 16px 24px rgba(20, 100, 20, 0.3);
}
/*campgrounds*/
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
#featured {
	padding: 20px 0;
}
#featured .flex {
	display: flex;
	flex-wrap: wrap;
}
#featured .thumbnail {
	padding: 0;
	margin: 0;
	border: none;
}
#featured .thumbnail .image {
	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0 0;
	background-position: bottom center;
	background-size: cover;
}
#featured h3 {
	padding: 20px 20px 0 0;
}
#featured h4 {
	padding-right: 20px;
}
#featured h3, #featured h4 {
	margin: 0;
	text-align: right;
}
#featured .caption {
	text-align: left;
}
/***** footer parralax *****/
#footerParralax {
	position: relative;
	display: table;
	padding-top: 20px;
	width: 100%;
	background: url('../images/camping.equipment.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
#footerParralax h2 {
	text-align: center;
}
<<<<<<< HEAD
/******************/
/***** MODALS *****/
/******************/
=======
#pagefooter {
	/*color: red;*/
	/*background-color: red;*/
	text-align: center;
	padding-top: 10px;
}
/*MODALS*/
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
.close {
	color: red;
	font-size: 3em;
}
.close:hover {
	color: red;
}
<<<<<<< HEAD
/***************************/
/***** CAMPGROUNDS New *****/
/***************************/
=======
h2 {
	color: rgb(50, 150, 50);
	text-shadow: 1px 4px 3px rgb(201, 217, 72),
	2px 8px 12px rgba(183, 186, 39, 0.8),
	4px 16px 24px rgba(93, 99, 20, 0.3);
	font-weight: 700;
	/*font-size: 2em;*/
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
/*new campground*/
#newCampground {
	max-width: 600px;
}
<<<<<<< HEAD
/****************************/
/***** CAMPGROUNDS Show *****/
/****************************/
/*SHOW page*/
#campgroundShowPage {
	padding: 30px;
	background-image: url('../images/camping.equipment.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
=======

/*SHOW page*/
#campgroundShowPage {
	padding: 50px;
	background-image: url('../images/camping.equipment.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
}
.delete-form {
	display: inline;
}
.date {
<<<<<<< HEAD
=======
	color: #2E92F6;
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
	letter-spacing: 0.1rem;
	font-size: 0.8em;
}
#bannerContent .thumbnail {
	padding: 0;
	border: none;
	border-radius: 10px;
}

/*#showBanner {
	position: relative;
	padding: 10px;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}*/
#bannerImage {
<<<<<<< HEAD
	padding-top: 30px;
	width: 100%;
	height: 500px;
	border-radius: 10px 10px 0 0;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}
=======
	color: gold;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 500px;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}
#bannerContent h4 {
	color: rgb(50, 150, 50);
	text-shadow: 1px 4px 3px rgb(201, 217, 72),
	2px 8px 12px rgba(183, 186, 39, 0.8),
	4px 16px 24px rgba(93, 99, 20, 0.3);
}
#bannerContent {
	margin: 0;
	padding: 0;
	/*padding-top: 50px;*/
	border-radius: 10px;
}
>>>>>>> 5e5ee5462f2678cee0407a7a1f11143002ab2d54
#bannerContent .caption {
	margin: 0;
	padding: 0 30px 10px 30px;
}
.well {
	padding: 10px 30px;
	margin: 20px 0 0 0;
}
/* Google Maps */
#map {
	width: 100%;
	height: 460px;
	border-radius: 10px;
}
/* User */
.user {
	padding-top: 30px;
	text-align: center;
}
.list-group {
	margin-top: 20px;
}
